.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main {
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 12fr;
    grid-template-columns: 6fr 1fr 4fr;
    grid-template-areas:
    "gen gen gen"
    "form . cv";

    align-items: flex-start;
    justify-content: center;
}

.myForm {
    background-color: #d8d8d84d;
    grid-area: form;
}

.nextButton {
    grid-area: next;
}

.backButton {
    grid-area: back;
}

.navButton {
    background-color: #d8d8d84d;
}

.textarea {
    margin-top: 1rem;
}

.unitDescription {
    font-size: 70%;
}

.cv {
    width: 105mm;
    height: 148.5mm;

    font-size: 0.6rem;
    padding: 4%;
    grid-area: cv;
    background-color: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-items: flex-start;
}

.cv * {
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
    text-align: left;
}

.cvHeader {
    align-self: center
}

.cvHeader > p {
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

.cv .cvSub:not(.cvHeader) {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}




.cvHeader {
    justify-self: center;
}

#nav-dots {
    width: 100%;
    align-self: space-between;
    grid-area: nav;
    justify-content: space-around;
    display: flex;
    margin: 0;
    padding: 1rem;
}

#nav-dots div {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: rgb(212, 212, 212);
}

#nav-dots div:hover {
    cursor: pointer;
    background-color: rgb(121, 121, 121);
}

.filled {
    background-color: lightgreen !important;
}

.formSection {
    justify-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr auto 1fr;

    grid-template-areas: 
    "back header next"
    "back content next"
    "back add next"
  }

.entryButton {
    grid-area: add;
    width: 30%;
}

.generateButton {
    grid-area: gen; 
    width: 20%;
    align-self: flex-start;
    justify-self: flex-end;
}
  
.sectionHeader {
    grid-area: header;
}

.educationSection, .experienceSection, .generalSection {
    grid-area: content;
    gap: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "inputs list";
}

.experienceSubsection, .educationSubsection, .generalSubsection {
    grid-area: inputs;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    grid-area: list;

    gap: 1rem;
}

.listUnit {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.3rem;

    background-color: rgb(198, 255, 198);
}

.listUnit strong {
    padding-right: 0.5rem;
}

.listUnit em {
    background-color: rgb(198, 255, 198);
}

.listUnitButtons, .listUnitButtons * {
    background-color: transparent;
}

.listUnitButtons * svg:hover {
    transform: scale(1.2);
}

.list * {
    margin: 0;
}

.generalList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    grid-area: list;

    gap: 1rem;
}

.general {

    padding-left: 2rem;
    align-self: flex-start;
    align-items: flex-start;
    background-color: transparent;

    flex-wrap: wrap;

}

.general p {
    display: flex;
    max-width: 300px;
    overflow: hidden;
    flex-wrap: wrap;
}

.general{
    text-decoration: underline;
}